SOAP_VELIB/Monitoring/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8092/SOAP_VELIB/monitoring/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getClientCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getClientCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequestSinceStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequestSinceStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfRequestSinceStartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequestForWSVelib">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberOfRequestForWSVelibResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberOfRequestForWSVelibResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageDelayForResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageDelayForResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAverageDelayForResponseResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIPClientsConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIPClientsConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getIPClientsConnectedResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>