SOAP_VELIB/Monitoring/Connected Services/ServiceReference1/MonitoringOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoringOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8092/SOAP_VELIB/monitoring/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8092/SOAP_VELIB/monitoring/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8092/SOAP_VELIB/monitoring/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringOperation_getClientCount_InputMessage">
    <wsdl:part name="parameters" element="tns:getClientCount" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getClientCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClientCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getNumberOfRequestSinceStart_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfRequestSinceStart" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getNumberOfRequestSinceStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfRequestSinceStartResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getNumberOfRequestForWSVelib_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfRequestForWSVelib" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getNumberOfRequestForWSVelib_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfRequestForWSVelibResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getAverageDelayForResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:getAverageDelayForResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getAverageDelayForResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAverageDelayForResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getIPClientsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:getIPClientsConnected" />
  </wsdl:message>
  <wsdl:message name="IMonitoringOperation_getIPClientsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIPClientsConnectedResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoringOperation">
    <wsdl:operation name="getClientCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringOperation/getClientCount" message="tns:IMonitoringOperation_getClientCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringOperation/getClientCountResponse" message="tns:IMonitoringOperation_getClientCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberOfRequestSinceStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringOperation/getNumberOfRequestSinceStart" message="tns:IMonitoringOperation_getNumberOfRequestSinceStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringOperation/getNumberOfRequestSinceStartResponse" message="tns:IMonitoringOperation_getNumberOfRequestSinceStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberOfRequestForWSVelib">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringOperation/getNumberOfRequestForWSVelib" message="tns:IMonitoringOperation_getNumberOfRequestForWSVelib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringOperation/getNumberOfRequestForWSVelibResponse" message="tns:IMonitoringOperation_getNumberOfRequestForWSVelib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAverageDelayForResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringOperation/getAverageDelayForResponse" message="tns:IMonitoringOperation_getAverageDelayForResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringOperation/getAverageDelayForResponseResponse" message="tns:IMonitoringOperation_getAverageDelayForResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIPClientsConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringOperation/getIPClientsConnected" message="tns:IMonitoringOperation_getIPClientsConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringOperation/getIPClientsConnectedResponse" message="tns:IMonitoringOperation_getIPClientsConnected_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="monitoring" type="tns:IMonitoringOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClientCount">
      <soap:operation soapAction="http://tempuri.org/IMonitoringOperation/getClientCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfRequestSinceStart">
      <soap:operation soapAction="http://tempuri.org/IMonitoringOperation/getNumberOfRequestSinceStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfRequestForWSVelib">
      <soap:operation soapAction="http://tempuri.org/IMonitoringOperation/getNumberOfRequestForWSVelib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAverageDelayForResponse">
      <soap:operation soapAction="http://tempuri.org/IMonitoringOperation/getAverageDelayForResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIPClientsConnected">
      <soap:operation soapAction="http://tempuri.org/IMonitoringOperation/getIPClientsConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringOperation">
    <wsdl:port name="monitoring" binding="tns:monitoring">
      <soap:address location="http://localhost:8092/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>